extends base.pug 

block scripts
        script(src='/static/index.js')
//-   script(src='/pets.js')

block style
    style
        include ../static/style.css
        include ../static/styleAbout.css
        

block content 
        div.container
            h2 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus mollitia id voluptates incidunt, sed molestias nobis ut, vero magni sit ratione veritatis corporis atque, consequatur quis nesciunt excepturi unde minima.
            