//- NOTE-- iska sara matter will be repled by where it is been extende (home.pug)
//- mtlb yaha jo bhi likha h uski jagh home.pug wala mamla aajega

doctype html 
html
  head
    title Sagar's Dance World
    block scripts
    block style
  body
  
    nav#navbar
        ul
          
          div#logo
              img(src="/static/img/logo.jpg")
                
          li #[a(href='/') Home]
          li #[a(href='/about') About]
          li #[a(href='/JoinUs') Join Us]
          li #[a(href='5') Services]
          li #[a(href='/contact') Contact Us] 
    block content
    footer#footer 
      |strong Copyright
      | thesagar and Co © 2020-2021  | All rights receved
    

   
    
