//- extends  i'm filing this template extends (name of the file)

//- base .pug ko hi serve kar raha h but necha wala mamla base.pug m paste ho jaega block ki jgh block etc

extends base.pug 

block scripts
        script(src='/static/index.js')
//-   script(src='/pets.js')

block style
    style
    
        include ../static/style.css
        

block content
 

  section#introSection
      div Welcome to the world of Dance that is Sagardang
      div.small Dance Repete dance
  section#missionSection
    h2 Our mission
    div.card
      h3 Perfection in dance
      div.card-box
          div.card-img
              img(src="/static/img/bg2.png")
              p this is the best dance plat here you can get the best of dance
    div.card
      h3 Dance as you want
      div.card-box
          div.card-img
              img(src="/static/img/bg4.jpg")
              p this is the best dance plat here you can get the best of dance
    div.card
      h3 More in Dance Carrear
      div.card-box
          div.card-img
              img(src="/static/img/bg3.jpg")
              p this is the best dance plat here you can get the best of dance 


  section#sponsorsSection
      h2 Our Sponsors
      div#spon    
            img(src="/static/img/mpl.png" , class='spImage')    
            img(src="/static/img/blackB.png" , class='spImage')    
            img(src="/static/img/apple.jpg" , class='spImage', alt='this is not showns')    
            img(src="/static/img/micro.png" , class='spImage')